/* ================================
   Mobile-first approach
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Mobile */
    align-items: center;
    margin: 0;
    padding: 15px;
    gap: 15px;
}

.nav-links a {
    color: #863e3e;
    text-decoration: none;
    font-weight: bold;
}

/* ===== HEADINGS ===== */
h1, h2, h3 {
    color: #18426d;
    font-weight: 500;
}

/* ===== NAME AT TOP ===== */
header h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #d2e622;
    text-align: center;
    border-bottom: 4px solid #e67e22;
    display: inline-block;
}

/* ===== SECTIONS ===== */
section {
    margin: 20px 10px;
    padding: 15px;
    background: #916969;
    border-radius: 8px;
}

/* ===== EXPERIENCE ===== */
.experience-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ===== CONNECT LINKS ===== */
.connect-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* ================================
   TABLET STYLES
